/* Make watched icon green and checkmarked*/
.playedIndicator { background: #5dd000; }

/* Hides The Home Button In Top Left Corner*/
.headerHomeButton { display: none; }
.headerButton.headerButtonRight.headerUserButton.paper-icon-button-light { display: none; }

/* Hides Sync Button*/
.headerSyncButton { display: none; }

/* Login Page*/
#loginPage {
  background: url("https://preview.redd.it/qb7f494aq5v41.jpg?width=960&crop=smart&auto=webp&s=ca0d2def9697b8acd4e1f9f7b21ca2e8af29c24a");
  background-size: cover;
}

/* Home Page Image*/
.backdropImage { display: none; }

.backgroundContainer {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://preview.redd.it/qb7f494aq5v41.jpg?width=960&crop=smart&auto=webp&s=ca0d2def9697b8acd4e1f9f7b21ca2e8af29c24a");
  filter: blur(10px);
  background-size: cover;
}

/* Rounded Corners*/
.cardContent-button,
.itemDetailImage {
  border-radius: 0.25em;
}

/* Narrow the login form */
#loginPage .readOnlyContent, #loginPage form {max-width: 22em;}

/* Hide "please login" text, margin is to prevent login form moving too far up */
#loginPage h1 {display: none}
#loginPage .padded-left.padded-right.padded-bottom-page {margin-top: 50px}

/* Hide "manual" and "forgot" buttons */
#loginPage .raised.cancel.block.btnManual.emby-button {display: none}
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {display: none}

/* Full HEader*/
.skinHeader, .mainDrawer, .emby-input, .emby-textarea, .emby-select, .navMenuOption-selected, .cardBox, .paperList { background: #4F5D75; }

/*Rounded corners on pretty much everything-Source Monochromic*/

.formDialogHeader {
  border-top-left-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}

.formDialogFooter {
  border-bottom-left-radius: var(--rounding);
  border-bottom-right-radius: var(--rounding);
}

.cardOverlayContainer {
  border-radius: var(---card-rounding) !important;
}

.nowPlayingPageImage,
.toast,
.fab,
.multiSelectCheckboxOutline,
.itemSelectionPanel,
.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.dialog,
.button-flat,
.visualCardBox,
.chapterThumbContainer,
.cardOverlayButtonIcon,
.subtitleappearance-preview.flex.align-items-center.justify-content-center {
  border-radius: var(--rounding) !important;
}

.osdPoster img {
  border-radius: var(--rounding);
  border: none;
}

.mdl-slider::-moz-range-thumb {
  border-radius: var(--rounding);
}

.mdl-slider::-ms-thumb {
  border-radius: var(--rounding);
}

.mdl-slider::-webkit-slider-thumb {
  border-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:first-child {
  border-bottom-left-radius: var(--rounding);
  border-top-left-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:last-child {
  border-bottom-right-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}

.detailImageContainer .cardBox {
  overflow: hidden;
  border-right: var(--rounding);
}

.emby-select,
.emby-select-withcolor {
  border-radius: 5px;
}

.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.cardImageContainer,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.cardOverlayButton,
.dialog,
a.listItem-border {
  border-radius: var(--rounding);
}

.cardScalable,
.cardImage,
.visualCardBox .cardContent,
.sessionNowPlayingInnerContent,
.cardImageContainer,
.blurhash-canvas,
.cardPadder {
  border-radius: var(--card-rounding);
}

.checkboxOutline {
  border-radius: 5px !important;
}

.paperList {
  border-radius: 20px !important;
  overflow: hidden;
  border: 0.01em solid #191819;
}

/*Blur backdrops, feel free to edit the intensity of the filter values*/

.backdropImage {
  -webkit-filter: blur(10px) saturate(110%) contrast(110%) brightness(95%);
  filter: blur(10px) saturate(110%) contrast(110%) brightness(95%);
}

.backgroundContainer.withBackdrop {
  background: rgba(24, 24, 24, 0.5);
  box-shadow: inset 0 0 100px 100px rgb(4 4 4 / 85%);
}

.layout-desktop .itemBackdrop:after,
.layout-tv .itemBackdrop:after {
  background: transparent;
}

.dialog {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(60px) !important;
  -webkit-backdrop-filter: blur(60px) !important;
  -moz-backdrop-filterss: blur (60px) !important;
  -o-backdrop-filter: blur(60px) !important;
  box-shadow: 0 0 0 500vw rgb(0, 0, 0, 0.5), 0 0 20px 4px black;
}
